body{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
h1{
    font-size: 50px;
}
.name{
    color: brown;
}
section{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding: 0px 5px;
}
.half-width img{
    width: 65%;
    padding-left: 10%;
}
.h-but{
    text-decoration: none;
    background-image: linear-gradient(aqua, tomato);
    padding: 10px 40px;
}
.top-bann{
    width: 100%;

}
.top-bann img{
    padding-bottom: 100 px;
}